@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300;400;600&display=swap');

@layer base {
  body{
    font-family: 'Source Serif Pro', serif;
  }

  .bg-city{
    background-color: rgba(18, 17, 17, 0.18);
  }
  .text-city{
    font-size: 45px;
    font-weight: 400;
  }
}


@layer components {

  .login-modal{
    @apply w-5/6 md:w-[400px] py-10 right-1/2 translate-x-1/2  rounded-md backdrop-blur-xl border border-slate-500 absolute top-1/2 sm:right-32 sm:translate-x-0 -translate-y-1/2 z-30 text-white flex items-center justify-center flex-col gap-5 px-5 transition-all duration-150
  }

  .form-input{
    @apply flex-1 h-full outline-none border-0 text-slate-800 bg-transparent
  }

  .search-modal{
    @apply absolute top-10 z-40 right-0 rounded-md w-full flex flex-col gap-1 bg-slate-50 px-3 py-2
  }


  .city-box{
    @apply flex-1 w-full transition-all duration-500 self-end md:mb-2 md:mx-2 py-3 text-white bg-city rounded-md flex items-center sm:gap-5 gap-3 px-4
  }
  .cards-wrapper{
    @apply flex w-full flex-wrap gap-3 h-full
  }



  
}